<ion-header>
    <ion-navbar>
        <ion-title>
            {{messagee.displayName}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding class="chat-view" id="chat-view">
    <div class="messages">
        <div class="message" *ngFor="let chat of chats | async">
            <div ion-item *ngIf="uid !== chat.from">
                <ion-avatar item-left>
                    <img *ngIf="!messagee.picture" src="assets/images/default.svg">
                    <img *ngIf="messagee.picture" [src]="sanitizer.bypassSecurityTrustUrl(messagee.picture)">
                </ion-avatar>
                <div>
                    <div class="user-name">{{messagee.displayName}} <span class="timestamp">{{chat.timestamp | date:'jm'}}</span></div>
                    <span class="message-content">{{chat.message}}</span>
                </div>
            </div>

            <div ion-item *ngIf="uid === chat.from">
                <ion-avatar item-left>
                    <img *ngIf="!user?.picture" src="assets/images/default.svg">
                    <img *ngIf="user?.picture" [src]="sanitizer.bypassSecurityTrustUrl(user.picture)">
                </ion-avatar>
                <div>
                    <div class="user-name">{{user?.displayName}} <span class="timestamp">{{chat.timestamp | date:'jm'}}</span></div>
                    <span class="message-content">{{chat.message}}</span>
                </div>
            </div>
        </div>
    </div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-row>
            <ion-col [hidden]="!chats">
                <ion-input type="text" placeholder="Enter Message" [(ngModel)]="message" class="message-input"></ion-input>
            </ion-col>
            <ion-col col-auto [hidden]="!chats">
                <button ion-button full (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
            </ion-col>
        </ion-row>
    </ion-toolbar>
</ion-footer>